.customer-dashboard {
  padding-top: 100px;
  text-align: center;
  padding: 20px;
  padding-top: 70px;
}

.dashboard-heading {
  font-size: 1.8rem;
  margin: 40px 0px;
}

.cust-btn-cntnr .dashboard-button {
  display: block;
  width: 50%;
  margin: auto;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.cust-btn-cntnr .dashboard-button:hover {
  background-color: #007bffb9;
}

.terms-and-conditions {
  margin-top: 60px;
}

.terms-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.terms-text {
  font-size: 1em;
  line-height: 1.6;
  color: #a2a2a2;
}

.loan-container {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}

.loan-container .loan-form, .loan-container .payments-container {
  border: 1px solid #36b3eb;
  padding: 20px;
  color: black;
  background-color: #cad8dbe2;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.loan-container .loan-form h2, .loan-container .payments-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.loan-container .loan-form label, .loan-container .payments-container label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.loan-container .loan-form input, .loan-container .payments-container input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.loan-container .loan-form button, .loan-container .payments-container button {
  background-color: #e91e63;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loan-container .loan-form button:hover, .loan-container .payments-container button:hover {
  background-color: #c2185b;
}

.loan-container .loan-form .installments-list, .loan-container .payments-container .installments-list {
  height: 250px;
  overflow-y: scroll;
}

.loan-container .loan-form .installments-list ul, .loan-container .payments-container .installments-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loan-container .loan-form .installments-list ul li, .loan-container .payments-container .installments-list ul li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.loan-container .loan-form p, .loan-container .payments-container p {
  color: #333;
}

.loan-container .loan-form .apply-btn, .loan-container .payments-container .apply-btn {
  cursor: pointer;
  margin: 12px;
  background-color: #1e9fe9;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.loan-container .loan-form .apply-btn:hover, .loan-container .payments-container .apply-btn:hover {
  background-color: #1845c2;
}

@media screen and (max-width: 750px) {
  .loan-container {
    flex-direction: column;
  }
}

.view-loan-container {
  max-width: 90%;
  margin: auto;
  padding: 20px;
  padding-top: 70px;
  text-align: center;
}

.view-loan-heading {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.payloan {
  padding-top: 70px;}